{% extends 'base.html' %}

<!--Title Block-->
{% block title %}
<title>Car Details</title>
{% endblock %}

<!--Content Block-->
{% block content %}

<section style="width: 50%; margin: auto" class="my-5">
    <div class="card mb-3">
      <img src="https://images.pexels.com/photos/3972755/pexels-photo-3972755.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">{{car.car_name}}</h5>
          <p class="card-text">{{car.car_description}}</p>
          <div class="d-flex align-items-center justify-content-between">
              <div>
                    <p class="card-text"> <strong>Price:</strong> {{car.car_price}}</p>
                    <p class="card-text"> <strong>Quantity:</strong> {{car.car_quantity}}</p>
              </div>
              {% if request.user.is_authenticated %}
              <div>
                  <a href="{% url 'buy_now' car.id %}" class="btn btn-warning px-5">Buy Now</a>
              </div>
              {% endif %}
          </div>
          <p class="card-text text-center"><small class="text-body-secondary">{{car.brand_name}}</small></p>
      </div>
    </div>
</section>


{% endblock %}